@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  background-color: #162e12;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 22px;
  height: 100%;
}

a,
a:hover,
a:active {
  color: #fff;
  text-decoration: none;
}

.it {
  font-style: italic;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 4vh 0;
}

#title-lines {
  display: flex;
  flex-direction: column;
}

#headshot {
  width: 20%;
  margin-right: 6rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 75vw;
  margin: auto;
}

.info-block {
  border: solid 1px rgba(255, 255, 255, 0.4);
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #4b6c46;
}

.two-columns {
  display: flex;
}

.left-column {
  flex-basis: 60%;
}

.right-column {
  flex-basis: 40%;
}

.left-column,
.right-column {
  padding: 0 20px;
}

.content {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}

.accent {
  font-weight: bold;
  text-decoration: underline;
}

.footer-content {
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.icons {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
}

.icons img {
  height: 50px;
  width: auto;
}

.info {
  margin: 4rem auto;
  width: 60vw;
  background-color: #e0e3df;
  color: #030602;
  border-radius: 10px;
}

.tabs-container {
  display: flex;
  justify-content: center;
}

.tab_content {
  display: none;
}

.tab_content-active {
  display: block;
  padding: 10px 20px;
  height: 300px;
}

.tab_btn {
  outline: none;
  border: none;
  border-radius: 10px;
  margin: 0 15px;
  padding: 10px 20px;
  font-size: 24px;
  background-color: #c2ddbd;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 0.2s;
}

.tab_btn:hover {
  background-color: #5bb94b;
}

.tab_btn_active {
  transform: translateY(-70%);
  background-color: #5bb94b;
}

.my-list {
  list-style-type: "— ";
}
.my-list li {
  margin: 10px 0;
}

#subtitle {
  text-align: center;
  margin: 2rem 0;
}
/*Styles for mobile devices*/

@media only screen and (max-width: 1200px) {
  .tab_content-active {
    height: 370px;
  }
}

@media only screen and (max-width: 991px) {
  .tab_content-active {
    height: 390px;
  }

  .two-columns {
    flex-direction: column;
  }

  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #headshot {
    width: 50%;
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .footer-content {
    width: 80vw;
    flex-direction: column;
  }

  .icons {
    width: 60%;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 24px;
  }

  .wrapper {
    width: 85vw;
  }

  #title-lines h1,
  #title-lines h2,
  #title-lines p {
    margin: 10px 0;
  }

  .tabs-container {
    flex-direction: column;
  }

  .tab_btn {
    outline: none;
    border: none;
    border-radius: 10px;
    margin: 5px 15px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #c2ddbd;
    transform: none;
  }

  .tab_btn_active {
    transform: translateX(15%);
    background-color: #5bb94b;
  }

  .tab_content-active {
    height: auto;
  }
}
